{% extends 'template.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main>
        <h4>Recherche par Acteur </h4>
        <form class="form-inline custom-search-form mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
            <div class="input-group w-100">
                <input type="text" class="form-control bg-light border-dark small" placeholder="Recherche pour..."
                       aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                    </button>
                </div>
            </div>
        </form>
<hr>
        <section class="py-6 text-center container-xl text-bg-primary">
            <h1>Tableau de bord :</h1>
            <div class="row">
                <div class="col-xl-4 col-md-4">
                    <div class="card custom-card {{ statutProcessus == 'complet' ? 'btn-success' : 'btn-danger' }} text-white mb-4 border-dark">
                        <button  class="btn {{ statutProcessus == 'complet' ? 'btn-success' : 'btn-danger' }} card-body fs-4   m-4  p-4">STATUT PROCESSUS</button>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card custom-card bg-white text-dark mb-4 border-dark">
                        <button onclick="location.href='{{ path('alerts') }}'" class="card-body text-bg-success bg-white fs-4 m-4 p-4">
                            ALERTES ACTEURS
                        </button>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="card custom-card bg-white text-dark mb-4 border-dark">
                        <button  onclick="location.href='{{ path('rapport_general') }}'" class="card-body text-bg-success fs-4 bg-white m-4  p-4">RAPPORTS</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
               <table class="table table-bordered">
                   <thead class="text-center" style="background-color: rgb(130, 106, 251);color:#fff;">
                     <tr>
                         <th>Entreprise</th>
                         <th>Modifier</th>
                         <th>Acteur</th>

                     </tr>
                   </thead>
                   <tbody class="text-center">
                   {% for acteur in acteurs %}
                     <tr>
                         <td>{{ acteur.entreprise ? acteur.entreprise.nom }}</td>
                         <td > <a href="#">Voir detail</a></td>
                         <td > <a href="{{ path('acteur_detail',{id: acteur.id}) }}">Voir detail</a></td>
                     </tr>

                   {% endfor %}
                   </tbody>

               </table>
            </div>
        </div>



    </main>
{% endblock %}
