{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('bootstrap-5.0.2/dist/css/bootstrap.css') }}">

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dashboard</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Liste des Entreprises</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('liste_acteur') }}">Gestion des Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('liste_tache') }}">Liste des Rôles</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}{% endblock %}
</div>

<script src="{{ asset('node_modules/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bootstrap-5.0.2/js/dist/popover.js') }}"></script>
<script src="{{ asset('bootstrap-5.0.2/dist/js/bootstrap.js') }}"></script>
</body>
</html>
